@import "tailwindcss";

.animation-leave {
  display: none;
}

.animation-entry {
  display: grid;
  animation: entry 1s ease-in-out;
}

@keyframe entry {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}

.bg-surface {
  background-color: #092130;
}

.title-banner {
  color: #092130;
  text-shadow: 0 0 4px #31be2b, 0 0 4px #31be2b, 0 0 4px #31be2b,
    0 0 4px #31be2b, 0 0 4px #31be2b, 0 0 4px #31be2b, 0 0 4px #31be2b,
    0 0 4px #31be2b, 0 0 4px #31be2b;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.text-banner {
  color: #fff;
  padding-left: 20%;
}

.item-home {
  display: grid;
  justify-content: center;
}

.auto-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 4rem;
  width: 100%;
  box-sizing: border-box;
}

.auto-grid > * {
  display: grid;
  grid-template-rows: 9rem auto auto;
  gap: 1rem;
  width: 100%;
  min-height: 15rem;
}

#banner {
  display: none;
}
@media screen and (min-width: 35rem) {
  .item-home {
    grid-template-columns: 1fr 1fr;
  }

  #banner {
    display: block;
  }
}

.imgCard {
  width: 6rem;
  margin: auto;
  transition: all 0.25s ease-in-out;
}

.card-item {
  transition: all 0.35s ease-in-out;
}

.card-item:hover {
  box-shadow: 0 2px 15px -15px rgba(0, 0, 0, 0.4);
  transform: translateY(-0.5rem);
}

.card-item:hover > .imgCard {
  transform: translateY(-0.5rem) scale(1.2);
}
