---
import "../styles/global.css";
import logo from "../assets/logo.svg";
import Banner from "../components/Banner.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <main class="min-h-dvh flex flex-col">
      <header class="flex justify-center bg-white">
        <div class="w-full max-w-[55rem] p-4">
          <img src={logo.src} width="115" alt="logo toquea" />
        </div>
      </header>
      <section class="grow flex justify-center bg-surface">
        <div class="item-home p-4 w-full max-w-[55rem] grid">
          <div id="banner" role="banner">
            <Banner />
          </div>
          <div class="grid">
            <div class="bg-white p-5 rounded-sm m-auto">
              <slot />
            </div>
          </div>
        </div>
      </section>
      <section class="bg-white py-16"></section>
    </main>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    min-height: 100dvh;
  }
</style>
