<div id="container" class="min-h-full max-w-[25rem] flex flex-col gap-8">
  <div class="grid gap-4">
    <h4>隆Hola! Empecemos con tu solicitud </h4>
    <p>Tu elecci贸n nos ayuda a mostrarte las opciones adecuadas</p>
  </div>

  <form id="form" action="" class="grid gap-4">
    <div class="flex flex-col gap-2">
      <label>Desde d贸nde nos escribes</label>
      <select
        name="company"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      >
        <option value="">Elige una opci贸n</option>
        <option value="">Soy de Tiendas 3A</option>
        <option value="">Soy administrativo de 3A</option>
        <option value="">Soy ATIC</option>
      </select>
    </div>

    <div class="flex flex-col gap-2">
      <label>驴Qu茅 cr茅dito quieres solicitar hoy?</label>
      <select
        name="product"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      >
        <option value="">Elige una opci贸n</option>
        <option>Pr茅stamo convenio</option>
        <option>Adelanto de sueldo</option>
      </select>
    </div>

    <div class="flex flex-col gap-2">
      <label>Ind铆canos el importe que deseas pedir</label>
      <div class="flex items-center mb-4">
        <label>
          <input type="radio" name="option-adelanto" value="100 a 300" />
          De S/. 100 a S/. 300
        </label>
      </div>
      <div class="flex items-center mb-4">
        <label>
          <input type="radio" name="option-adelanto" value="301 a m谩s" />
          De S/. 301 a m谩s
        </label>
      </div>
    </div>

    <button
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
      >Bot贸n ir</button
    >
  </form>
</div>

<style></style>

<script>
  const form = document.querySelector("#form");
</script>
