---
import "../styles/global.css";
import logo from "../assets/logo.svg";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <main class="min-h-dvh flex flex-col">
      <header class="flex justify-center bg-white">
        <div class="w-full max-w-[63rem] p-4">
          <img src={logo.src} width="115" alt="logo toquea" />
        </div>
      </header>
      <section class="grow flex justify-center">
        <div class="w-full max-w-[63rem] p-4 grid">
          <slot />
        </div>
      </section>
    </main>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    min-height: 100dvh;
  }
</style>
