---
import "../styles/global.css";
import logo from "../assets/logo.svg";
import Banner from "../components/Banner.astro";

import block1Step1 from "../assets/block_1_step1.png";
import block1Step2 from "../assets/block_1_step2.png";
import block1Step3 from "../assets/block_1_step3.png";

import block2Step1 from "../assets/block_2_step1.png";
import block2Step2 from "../assets/block_2_step2.png";
import block2Step3 from "../assets/block_2_step3.png";

import grupoAje from "../assets/logo_aje.png";

import iconoDigitalFooter from "../assets/icono_digital_footer.png";
import iconoRapidoFooter from "../assets/icono_rapido_footer.png";
import iconoSeguridadFooter from "../assets/icono_seguridad_footer.png";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Campaña de toquea</title>
  </head>
  <body>
    <main class="min-h-dvh flex flex-col">
      <section class="grow flex p-4 justify-center bg-surface">
        <slot />
      </section>
    </main>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    min-height: 100dvh;
  }
</style>
